body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #f3f3f3;
    padding: 10px 20px;
    border-bottom: 2px solid #323131;
}

.header-top {
    text-align: center;
    border-bottom: 1px solid #414040; /* 在标题和导航栏之间添加红色线条 */
    padding-bottom: 10px; /* 在线条和导航栏之间提供空间 */
}

header h1 {
    font-size: 2em;  /* 调整标题的字体大小 */
    color: #333;    
    padding: 20px 0;  
    text-align: center;  
    margin: 0;  
    background-color: #f4f4f4;  
}


nav {
    text-align: right;
    padding-top: 10px; /* 在导航栏上方添加一些空间 */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* 保证链接在导航栏右侧 */
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #262626;
    font-weight: bold;
}

/* ----------------------------------------------------------------- */


#articles {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    gap: 20px;
    padding: 20px;
}

.book-info {
    grid-column: 1;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    background-color: #f4f4f4;
    padding: 10px;
    border-right: 2px solid #ccc;
    text-align: right;  /* 设置信息列表右对齐 */
}

.info-block {
    margin-bottom: 40px;
}

.info-item {
    margin: 2px 0;
    display: block; /* 确保每项信息都能单独占据一行，并实现右对齐 */
}

.book-details {
    grid-column: 2;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.book-title {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.book-cover {
    width: 100%;
    max-width: 300px;
    height: auto;
    align-self: center;
    margin-bottom: 10px;
}

.book-description {
    padding: 10px 0;
}

.filters {
    grid-column: 3;
    background-color: #f8f8f8;
    border-left: 2px solid #ccc;
    position: sticky;
    top: 20px;
    padding: 20px;
}

.date {
    font-size: 1.2em; /* 增大日期的字体大小 */
    margin-bottom: 5px; /* 添加一点间隔 */
}
